
.storybook-readme-story {
    padding: 2rem;

    .iof-group {
        display: flex;
        flex-flow: column;
        margin: 0.5rem 0;

        label {
            margin: 0;
        }
    }

    button {
        margin-left: 0.5rem;
        
        &:first-child {
            margin: 0; 
        }
    }
}